---
import { Image, getImage } from 'astro:assets';
import { Icon } from "astro-icon";
import kidHappyCroppedImage from "../../images/kid-happy-cropped.png";
import kidToysImage from "../../images/kid-toys.jpg";
import kidAutumnImage from "../../images/kid-autumn.jpg";
import kidsCartImage from "../../images/kids-cart.png";
import childishWallpaperImage from "../../icons/childish-wallpaper.svg";
import Goo from "../common/Goo.astro";
import ImageText from '../common/ImageText.astro';
import Flare from '../common/Flare.astro';

const optimizedWallpaperImage = await getImage({ src: childishWallpaperImage });
---

<section>
    <h2>
        <ImageText>
            Kinderbetreuung.<br>Familiär und individuell.
        </ImageText>
    </h2>
    <div class="box">
        <Icon class="corner" name="corner-l"/>
        <div class="placeholder"></div>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Kleine Gruppe
                </Goo>
            </h3>
            <p>
                <Goo>
                    Meine Gruppe besteht aus fünf Kindern – meist im Alter bis zu 3 Jahren.
                </Goo>
            </p>
        </div>
        <div class="feature large" data-aos="fade-right">
            <h3>
                <Goo>
                    Situationsbezogene Pädagogik
                </Goo>
            </h3>
            <p>
                <Goo>
                    Ich greife Themen, Ideen und Anregungen auf, die 
                    die Kinder in die Tagespflege mitbringen, und entwickle 
                    sie gemeinsam weiter.
                    Wir machen kleine Projekte – häufig in Bezug auf die Jahreszeiten und deren Besonderheiten.
                </Goo>
            </p>
        </div>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Individuelle Förderung
                </Goo>
            </h3>
            <p>
                <Goo>
                    Jedes Kind wird entsprechend seines Alters und 
                    seines Entwicklungsstandes individuell gefördert.
                </Goo>
            </p>
        </div>
        <Icon class="image sun" name="sun"/>
        <Image class="image child" src={kidHappyCroppedImage} alt="Mädchen lächelt"/>
    </div>
    <div class="creativity-row">
        <div class="text" data-aos="fade-left">
            <h3>Spiel, Spaß und Kreativität</h3>
            <p>
                Es wird gespielt, gemalt, gebastelt und mehr. Ich gehe auf Interessen und Ideen der Kinder ein und entwickle sie mit ihnen weiter. 
            </p>
        </div>
        <div class="image-group">
            <div class="card" data-aos="fade-up" data-aos-offset="300">
                <Image class="flip" src={kidAutumnImage} alt="Kleinkind sitzt auf Herbstlaub"/>
            </div>
            <div class="card" data-aos="fade-up" data-aos-offset="300" data-aos-delay="100">
                <Image class="flip" src={kidToysImage} alt="Junge spielt mit Spielzeugautos"/>
            </div>
        </div>
    </div>
    <div class="social-row">
        <div class="image-group">
            <div class="flares">
                <Flare color="orange" width="1000px" height="1000px" x="75%" y="45%"/>
            </div>
            <Image src={kidsCartImage} alt="Kinder sitzen im Holzwagen"/>
        </div>
        <div class="text" data-aos="zoom-in">
            <h3>Faires & freundliches Miteinander</h3>
            <p>
                Der richtige Umgang mit anderen Kindern muss erst erlernt werden. Hierbei werden behutsam soziale Werte vermittelt.
            </p>
        </div>
        <div class="wallpaper-container">
            <div class="wallpaper" style={`background-image: url('${optimizedWallpaperImage.src}')`}/>
        </div>
    </div>
</section>

<style lang="scss">
    $box-padding: min(50px, 3vw);

    h2 {
        grid-column: 1 / -1;
        text-transform: none;
        line-height: 1.2;
        margin-bottom: -8.5rem;
        margin-left: $box-padding;
        position: relative;
        z-index: 1;

        @media (max-width: $sm) {
            margin-left: 0;
        }
    }

    .box {
        display: grid;
        grid-template-columns: 300px minmax(auto, 300px);
        grid-auto-flow: row;
        justify-content: space-between;
        gap: 3rem;
        @include QuadGradientBackground();
        border-radius: 50px;
        padding: 50px $box-padding;
        padding-bottom: 0;
        min-height: 45rem;
        margin-top: 5.5rem;
        position: relative;

        @media (max-width: 640px) {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        @media (max-width: $sm) {
            margin-left: calc(var(--page-padding) * -1);
            margin-right: calc(var(--page-padding) * -1);
            padding-left: var(--page-padding);
            padding-right: var(--page-padding);
        }

        & > * {
            min-width: 0;
        }

        .placeholder {
            grid-column: 1 / -1;
            height: 70px;
        }

        .feature {
            &.large {
                grid-row: span 2;
            }

            &*:first-child {
                margin-top: 0;
            }

            &*:last-child {
                margin-bottom: 0;
            }
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .child {
            width: min(472px, 30%);
            object-fit: contain;
            object-position: bottom;

            @media (max-width: 860px) {
                width: min(100%, 320px);
            }
        }

        .sun {
            color: rgb(var(--flare-orange));
            width: min(700px, 48%);
            opacity: .1;
            animation: rotate 240s linear infinite;
            transform-origin: 0;

            @media (max-width: 860px) {
                position: static;
                grid-column: 1 / -1;
                width: min(150%, 500px);
                margin-left: 50%;
                justify-self: flex-start;
            }
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }
            to {
                rotate: 360deg;
            }
        }

        .corner {
            position: absolute;
            top: 0;
            left: 0;
            width: 45rem;
        }
    }

    .creativity-row {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        padding: 0 $box-padding;
        position: relative;
        margin-bottom: 200px;

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
            gap: 2rem;
            padding: 0;
        }

        .image-group {
            display: flex;
            position: relative;
            margin-top: -50px;

            @media (max-width: 860px) {
                flex-direction: column;
            }

            @media (max-width: $sm) {
                display: none;
            }

            .card {
                border-radius: 50px;
                width: min(300px, 25vw);
                aspect-ratio: 3 / 4;
                border: 10px solid white;
                overflow: hidden;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .flip {
                    scale: -1 1;
                }

                @media (min-width: 860px + 1px) {
                    &:first-child {
                        border-radius: 50px 0 0 50px;
                    }
                    &:last-child {
                        border-radius: 0 50px 50px 0;
                        border-left-width: 0;
                    }
                }

                @media (max-width: 860px) {
                    &:first-child {
                        border-radius: 50px 50px 0 0;
                    }
                    &:last-child {
                        border-radius: 0 0 50px 50px;
                        border-top-width: 0;
                    }   
                }
            }
        }

        .text {
            max-width: 400px;
            min-width: 200px;
            position: relative;
            z-index: 1;

            h3 {
                color: rgb(var(--accent-color));
            }
        }
    }

    .social-row {
        display: flex;
        justify-content: space-around;
        gap: 5%;
        flex-wrap: wrap;
        @include QuadGradientBackground();
        border-radius: 50px;
        padding: 60px $box-padding;
        position: relative;

        @media (max-width: $sm) {
            margin-left: calc(var(--page-padding) * -1);
            margin-right: calc(var(--page-padding) * -1);
            padding-left: var(--page-padding);
            padding-right: var(--page-padding);
            border-radius: 0;
        }

        .image-group {
            min-width: 0;
            margin-top: -244px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(calc(-50% + 6.5%));
                right: 2px;
                width: calc(100% - 20px);
                aspect-ratio: 1 / 1;
                box-shadow: rgb(var(--card-background-dark)) 0 0 100px;
                mix-blend-mode: difference;
                border-radius: 1000px;
                opacity: .3;
            }
        }

        .text {
            max-width: 330px;
            z-index: 1;
        }

        .flares {
            @include FlareContainer();
            opacity: .5;
            z-index: 0;
        }

        img {
            width: 512px;
            height: auto;
            max-width: 100%;
            object-fit: contain;
            position: relative;
            z-index: 1;
        }

        .wallpaper-container {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 90%;
            border-radius: 50px;
            mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 70%);
            mix-blend-mode: multiply;
            opacity: .75;
            
            .wallpaper {
                width: 100%;
                height: 200%;
                background-size: 243px 200px;
                background-repeat: repeat;
                filter: hue-rotate(90deg);
                animation: background-scroll 20s linear infinite;
            }
    
            @keyframes background-scroll {
                from {
                    transform: translateY(0);
                }
                to { 
                    transform: translateY(-200px);
                }
            }
        }
    }

    h3 {
        line-height: 1.25;
        margin-bottom: 1.75rem;
        color: rgb(var(--accent-color));
    }

    p {
        line-height: 1.6;
    }
</style>