---
import { getImage } from "astro:assets";
import treeImage from "../../icons/fluentui-emoji/deciduous_tree_color.svg";
import drumImage from "../../icons/fluentui-emoji/drum_color.svg";
import locomotiveImage from "../../icons/fluentui-emoji/locomotive_color.svg";
import playgroundImage from "../../icons/fluentui-emoji/playground_slide_color.svg";
import appleImage from "../../icons/fluentui-emoji/red_apple_color.svg";
import sleepingImage from "../../icons/fluentui-emoji/sleeping_face_color.svg";
import spaghettiImage from "../../icons/fluentui-emoji/spaghetti_color.svg";
import teddyImage from "../../icons/fluentui-emoji/teddy_bear_color.svg";
import watermelonImage from "../../icons/fluentui-emoji/watermelon_color.svg";
import wavingImage from "../../icons/fluentui-emoji/waving_hand_color.svg";
import yawningImage from "../../icons/fluentui-emoji/yawning_face_color.svg";

const optimizedTreeImage = await getImage({ src: treeImage });
const optimizedDrumImage = await getImage({ src: drumImage });
const optimizedLocomotiveImage = await getImage({ src: locomotiveImage });
const optimizedPlaygroundImage = await getImage({ src: playgroundImage });
const optimizedAppleImage = await getImage({ src: appleImage });
const optimizedSleepingImage = await getImage({ src: sleepingImage });
const optimizedSpaghettiImage = await getImage({ src: spaghettiImage });
const optimizedTeddyImage = await getImage({ src: teddyImage });
const optimizedWatermelonImage = await getImage({ src: watermelonImage });
const optimizedWavingImage = await getImage({ src: wavingImage });
const optimizedYawningImage = await getImage({ src: yawningImage });

const data = [
    {
        start: "8:00",
        icon: optimizedWavingImage,
        class: "greet",
        title: "Begrüßung",
        description: `
            Aufgreifen von Themen und Dingen, die die Kinder mitbringen und bewegen;
            Kleine Beschäftigungen wie Singspiele, Lesen, Malen, Puzzlen, Bauen mit Bausteinen, Basteln, Toben etc.
        `
    },
    {
        start: "9:30",
        icon: optimizedAppleImage,
        class: "food",
        title: "Obstfrühstück",
        description: `
            Bei sehr schönem Wetter gibt's manchmal auch Obstpicknicks draußen.
        `
    },
    {
        start: "10:00",
        icon: optimizedTreeImage,
        class: "outdoors",
        title: "Wir sind draußen",
        description: `
            Spielplatz, Natur beobachten, Pfützen patschen, Laub fegen usw.
        `
    },
    {
        start: "11:15",
        icon: optimizedSpaghettiImage,
        class: "food",
        title: "Mittagessen",
        description: `
            Selbstgekocht & lecker
        `
    },
    {
        start: "11:30",
        icon: optimizedTeddyImage,
        class: "sleep",
        title: "Vorbereitung auf die Mittagsruhe",
        description: `
            Hygiene, Anziehen der Schlafsäckchen, Bettgeschichte
        `
    },
    {
        start: "12:00",
        icon: optimizedSleepingImage,
        class: "sleep",
        title: "Mittagsruhe"
    },
    {
        start: "13:30",
        icon: optimizedYawningImage,
        class: "toys",
        title: "Erwachen",
        description: `
            Individuelles Erwachen, freies Spiel
        `
    },
    {
        start: "14:30",
        icon: optimizedDrumImage,
        class: "toys",
        title: "Angeleitetes Spiel",
        description: `
            Bausteine, Singspiele, Buch lesen, Toben, Basteln o.ä.
        `
    },
    {
        start: "15:00",
        icon: optimizedWatermelonImage,
        class: "food",
        title: "Vesper",
        description: `
            Im Sommer vespern wir gelegentlich draußen, ansonsten drinnen.
        `
    },
    {
        start: "15:15",
        icon: optimizedLocomotiveImage,
        class: "toys",
        title: "Freies Spiel",
        description: `
            Kleine Beschäftigungen am Tisch oder freies Spiel
        `
    },
    {
        start: "15:30",
        icon: optimizedPlaygroundImage,
        class: "outdoors",
        title: "Spielplatz",
        description: `
            Wir sind auf dem Spielplatz im Hof. Bei schlechtem Wetter oder im Winter spielen wir drinnen.
        `
    },
    {
        start: "bis 16:00",
        icon: optimizedWavingImage,
        class: "greet",
        title: "Abschied",
        description: `
            Eltern holen ihre Kinder ab.
        `
    },
]
---

<section>
    <h2><span class="small">Routine gibt Halt</span>Unser Tagesablauf</h2>
    <div class="schedule">
        {data.map(item =>
            <div class="schedule-item">
                <div class="time-start-container">
                    <div class="time-start-marker">{item.start}</div>
                </div>
                <div class="timeline">
                    <div class="marker"></div>
                    <div class="connection"></div>
                </div>
                <div class:list={["card", item.class]} data-aos="zoom-in-right">
                    <img class="icon blur" src={item.icon.src} alt="icon"/>
                    <img class="icon" src={item.icon.src} alt="icon"/>
                    <div class="time-start">{item.start}</div>
                    <h3 class="title">{item.title}</h3>
                    {item.description && <p class="description">{item.description}</p>}
                </div>
            </div>
        )}
    </div>
</section>

<style lang="scss">
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .schedule {
        list-style-type: none;
        max-width: 700px;

        --padding-y: 2rem;
        --gap-y: 3rem;
        --icon-size: 4rem;
        --icon-padding: 1.2rem;
        --marker-size: 1rem;
        --connection-padding: 12px;
        --connection-gradient: linear-gradient(
            rgb(var(--card-background)) 60%,
            transparent 70%
        );

        .schedule-item {
            display: grid;
            grid-template-columns: 4.5em auto 1fr;
            column-gap: 30px;

            &:not(:last-child) {
                margin-bottom: var(--gap-y);
            }

            .time-start {
                color: rgb(var(--accent-color));
                display: none;
            }

            .time-start-container {
                position: relative;

                .time-start-marker {
                    position: absolute;
                    color: rgb(var(--accent-color));
                    font-size: 1.5rem;
                    font-family: "Dosis";
                    right: 0;
                    top: calc(
                        min(
                            50%,
                            calc(
                                var(--padding-y) +
                                var(--icon-padding) +
                                var(--icon-size) / 2
                            )
                        ) -
                        0.725em
                    );
                }
            }

            .timeline {
                display: grid;
                grid-template-areas: "overlay";
                position: relative;

                .marker {
                    grid-area: overlay;
                    position: relative;
                    top: min(
                        calc(50% - var(--marker-size) / 2),
                        calc(
                            var(--padding-y) +
                            var(--icon-padding) +
                            var(--icon-size) / 2 -
                            var(--marker-size) / 2
                        )
                    );
                    width: var(--marker-size);
                    height: var(--marker-size);
                    background: rgb(var(--card-background));
                    outline: 4px solid white;
                    border-radius: 50%;
    
                    &::after {
                        content: "";
                        position: absolute;
                        inset: -7px;
                        background-image: var(--connection-gradient);
                        background-position: center;
                        background-attachment: fixed;
                        border-radius: 50%;
                        outline: 4px solid white;
                        z-index: -1;
                    }
                }
    
                .connection {
                    grid-area: overlay;
                    position: absolute;
                    width: 4px;
                    top: calc(
                        min(
                            50%,
                            calc(
                                var(--padding-y) +
                                var(--icon-padding) +
                                var(--icon-size) / 2
                            )
                        ) +
                        var(--marker-size) / 2
                    );
                    bottom: calc(
                        -1 * (
                            var(--gap-y) +
                            var(--padding-y) +
                            var(--icon-padding) +
                            var(--icon-size) / 2 -
                            var(--marker-size) / 2
                        )
                    );
                    justify-self: center;
                    background-image: var(--connection-gradient);
                    background-position: center;
                    background-attachment: fixed;
                    border-radius: 10px;
                    z-index: -3;
                }
            }


            &:last-child {
                .connection {
                    display: none;
                }
            }

            .card {
                padding: var(--padding-y) 3rem var(--padding-y) 4rem;
                @include QuadGradientBackground();
                border-radius: 30px;
                margin-left: var(--icon-size);
                transition: all .3s ease;
                transform-origin: left center;

                .icon {
                    position: absolute;
                    top: min(50%, calc(var(--padding-y) + var(--icon-padding) + var(--icon-size) / 2));
                    left: 0;
                    transform: translate(-50%, -50%);
                    width: var(--icon-size);
                    height: var(--icon-size);
                    padding: var(--icon-padding);

                    &.blur {
                        filter: blur(20px);
                        opacity: .5;
                    }
                }
    
                .title {
                    font-size: 2rem;
                    margin: 0;
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
    
                .description {
                    margin: 0;
                    position: relative;
                }

                &.greet {
                    color: #8d7641;
                    background-color: #f7f4d8;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23bdb890' fill-opacity='0.24' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
                }

                &.food {
                    color: #ad635e;
                    background-color: #eedad8;
                    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23aa9493' fill-opacity='0.17'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }

                &.outdoors {
                    color: #5e8f5e;
                    background-color: #dde5db;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2397ac92' fill-opacity='0.16' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
                }

                &.toys {
                    color: #8f5e8d;
                    background-color: #e5dbe5;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23a992ac' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
                }

                &.sleep {
                    color: #5e648f;
                    background-color: #dbdde5;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239296ac' fill-opacity='0.18'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }

                &:hover {
                    scale: 1.1;
                    animation: move-background 15s linear infinite;
                }

                @keyframes move-background {
                    from {
                        background-position: 0 0;
                    }
                    to {
                        background-position: -100% 0;
                    }
                }
            }
        }
    }

    h2 {
        margin-bottom: 6rem;

        .small {
            color: rgb(var(--accent-color));
        }
    }
</style>